/* line 1, _elements.scss */
body {
  font-family: 'Domine', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 11, _elements.scss */
h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 52px;
  line-height: 60px;
}

/* line 19, _elements.scss */
h1.title {
  text-align: center;
  color: #ED6A5A;
}

/* line 24, _elements.scss */
h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  font-style: normal;
}

/* line 32, _elements.scss */
h2.subtitle {
  text-align: center;
  color: grey;
  padding-top: 200px;
}

/* line 38, _elements.scss */
h2.subtitle-btn {
  text-align: center;
  color: #E6EBE0;
  padding-top: 200px;
}

/* line 46, _elements.scss */
h3 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

/* line 53, _elements.scss */
h3.strong {
  color: #ED6A5A;
}

/* line 57, _elements.scss */
h4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}

/* line 65, _elements.scss */
h5 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

/* line 72, _elements.scss */
p {
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

/* line 79, _elements.scss */
section {
  font-family: 'Domine', serif;
  font-size: 18px;
}

/* line 84, _elements.scss */
ul {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 2;
}

/* line 91, _elements.scss */
ol {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2;
}

/* line 97, _elements.scss */
dt {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: bold;
  padding: 10px;
}

/* line 104, _elements.scss */
dd {
  font-family: 'Roboto Thin', sans-serif;
  font-size: 16px;
  padding: 10px;
}

/* line 110, _elements.scss */
 
a {
  font-style: oblique;
  font-variant: small-caps;
}

/* line 115, _elements.scss */
mark {
  background-color: #ED6A5A;
}

/* line 119, _elements.scss */
p.quote {
  font-size: 23px;
  line-height: 28px;
  font-style: normal;
  color: #666;
  margin: 0px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  background-color: #E6EBE0;
}

/* line 130, _elements.scss */
a {
  color: #4281A4;
  font-family: helvetica;
  font-size: small;
  text-decoration: none;
}

/* line 136, _elements.scss */
a:hover {
  color: #F25F5C;
}

/* line 140, _elements.scss */
input {
  background-color: #9CAFB7;
}

/* line 1, _menu.scss */
#menu-header {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
}

/* line 11, _menu.scss */
#menu-bar {
  float: right;
  padding: 15px;
  position: relative;
}

/*lista del menu principal del header*/
/* line 18, _menu.scss */
#menu-bar li {
  display: inline-block;
}

/* line 22, _menu.scss */
.menu {
  float: right;
  margin-right: 50px;
  color: grey;
}

/* line 28, _menu.scss */
.ddl-menu {
  background-color: #ffffff;
}

/* line 31, _menu.scss */
.ddl-menu::before {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
}

/*div typography*/
/* line 2, _typography.scss */
#typography {
  background-color: #CBE0DD;
  padding: 25px;
  margin: 25px;
}

/*div colors*/
/* line 2, _colors.scss */
#colors {
  background-color: #F5F6F4;
  padding: 25px;
  margin: 25px;
}

/* line 8, _colors.scss */
.palette-img {
  width: 25%;
  height: 25%;
  margin-left: 10px;
}

/* line 14, _colors.scss */
.palette-img-example {
  width: 200px;
  height: 100px;
  margin-left: 10px;
}

/* line 20, _colors.scss */
.circle {
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
}

/*palette num 1*/
/* line 31, _colors.scss */
.color-CCCEC9 {
  background-color: #CCCEC9;
}

/* line 32, _colors.scss */
.color-3B3432 {
  background-color: #3B3432;
}

/* line 33, _colors.scss */
.color-D05352 {
  background-color: #D05352;
}

/* line 34, _colors.scss */
.color-FFAE99 {
  background-color: #FFAE99;
}

/* line 35, _colors.scss */
.color-FFDCCD {
  background-color: #FFDCCD;
}

/*palette num 2*/
/* line 38, _colors.scss */
.color-FFB997 {
  background-color: #FFB997;
}

/* line 39, _colors.scss */
.color-F67E7D {
  background-color: #F67E7D;
}

/* line 40, _colors.scss */
.color-843B62 {
  background-color: #843B62;
}

/* line 41, _colors.scss */
.color-0B032D {
  background-color: #0B032D;
}

/* line 42, _colors.scss */
.color-74546A {
  background-color: #74546A;
}

/*palette num 3*/
/* line 45, _colors.scss */
.color-ED6A5A {
  background-color: #ED6A5A;
}

/* line 46, _colors.scss */
.color-F4F1BB {
  background-color: #F4F1BB;
}

/* line 47, _colors.scss */
.color-9BC1BC {
  background-color: #9BC1BC;
}

/* line 48, _colors.scss */
.color-5CA4A9 {
  background-color: #5CA4A9;
}

/* line 49, _colors.scss */
.color-E6EBE0 {
  background-color: #E6EBE0;
}

/* line 51, _colors.scss */
#palette .color-title {
  color: grey;
  padding-top: 100px;
}

/*div buttons*/
/* line 2, _buttons.scss */
#buttons {
  background-color: #9F5B7F;
  padding: 25px;
  margin: 25px;
  min-height: 450px;
}

/* line 9, _buttons.scss */
.btn-line {
  margin: 15px;
}

/* line 13, _buttons.scss */
.btn {
  width: 160px;
  height: 35px;
  margin: auto;
  opacity: .85;
  background-color: #ffffff;
  /*border-radius: 10px;*/
  border-color: #E65F5C;
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: small;
}

/* line 24, _buttons.scss */
.btn:hover {
  background-color: #E6B89C;
  font-size: medium;
}

/* line 28, _buttons.scss */
.btn:disabled {
  background-color: #9CAFB7;
  opacity: .4;
  font-size: small;
}

/* line 34, _buttons.scss */
.btn2 {
  width: 160px;
  height: 35px;
  margin: auto;
  opacity: .85;
  background-color: #5CA4A9;
  border-radius: 0px;
  border-color: black;
  font-family: helvetica, sans-serif;
  font-size: small;
}

/* line 45, _buttons.scss */
.btn2:hover {
  background-color: #028090;
  font-size: medium;
}

/* line 49, _buttons.scss */
.btn2:disabled {
  background-color: #8ECACD;
  opacity: .4;
  font-size: small;
}

/* line 55, _buttons.scss */
.btn3 {
  width: 160px;
  height: 35px;
  margin: auto;
  opacity: .85;
  background-color: transparent;
  border-radius: 0px;
  border-color: black;
  font-family: helvetica, sans-serif;
  font-size: small;
}

/* line 66, _buttons.scss */
.btn3:hover {
  background-color: #B5838D;
  font-size:  medium;
}

/* line 70, _buttons.scss */
.btn3:disabled {
  background-color: #6D6875;
  opacity: .4;
  font-size: small;
}

/* line 1, _footer.scss */
#footer {
  background-color: #50514F;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  padding: 72px 50px 100px 50px;
}

/* line 12, _footer.scss */
.contact {
  float: right;
  text-align: right;
  width: 65%;
}

/* line 18, _footer.scss */
.contact2 {
  float: right;
  text-align: right;
  width: 65%;
}

/* line 24, _footer.scss */
.copyright {
  float: left;
  font-size: 14px;
  line-height: 20px;
}

/* line 8, main.scss */
.headings {
  text-align: center;
}
