body{
	font-family: 'Domine', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

#menu-header{
	position: fixed;
		top: 0;
	height: auto;
	width: 100%;
	background-color: #ffffff;
	text-transform: uppercase;
	margin-top: 20px;
}

#menu-bar{
	float: right;
	padding: 15px;
	position: relative;
}

/*lista del menu principal del header*/
#menu-bar li{
	display: inline-block;
}

.menu{
	float: right;
	margin-right: 50px;
	color: grey;
}

.ddl-menu{
	background-color: #ffffff;
}
.ddl-menu::before{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #ffffff;
}

h1{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 52px;	
	line-height: 60px;
}

h1.title{
	text-align: center; 
	color: #ED6A5A;
}

h2{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;
	font-style: normal;
}

h2.subtitle{
	text-align: center;
	color: grey;
	padding-top: 200px;
}

h2.subtitle-btn{
	text-align: center;
	color: #E6EBE0;
	padding-top: 200px;
}



h3{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
	font-style: normal;
}
h3.strong{
	color:#ED6A5A;
}

h4{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 25px;
	line-height: 26px;
	font-weight: 400;
	font-style: normal;
}

h5{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}

p{
	font-family: 'Domine', serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
}

section{
	font-family: 'Domine', serif;
	font-size: 18px;
}

ul{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 2;
}

ol{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 2;
}

dt{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-style: bold;
	padding: 10px;
}

dd{
	font-family: 'Roboto Thin', sans-serif;
	font-size: 16px;
	padding:10px;
} 

a{
	font-style: oblique;
	font-variant: small-caps; 
	 
}

mark{
	background-color: #ED6A5A;
}

p.quote {
	font-size: 23px;
	line-height: 28px;
	font-style: normal;
	color: #666;
	margin: 0px;
	font-family: "Montserrat Alternates";
	font-weight: 400;
	background-color: #E6EBE0;
}

/*div typography*/
#typography{
	background-color: #CBE0DD;
	padding:25px;
	margin: 25px;
}

.headings{
	text-align: center;
}

/*div colors*/
#colors{
	background-color: #F5F6F4;
	padding:25px;	
	margin: 25px;
}

/*div buttons*/
#buttons{
	background-color: #9F5B7F;
	padding:25px;	
	margin: 25px;
	min-height: 450px;
}

.palette-img{
	width: 25%;
	height: 25%;
	margin-left: 10px;
}

.palette-img-example{
	width: 200px;
	height: 100px;
	margin-left: 10px;
}

.btn-line{
	margin: 15px;
}

.btn {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: #ffffff;
	/*border-radius: 10px;*/
	border-color: #E65F5C;
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: small;
}
.btn:hover {
	background-color: #E6B89C;
	font-size: medium;
}
.btn:disabled {
	background-color: #9CAFB7;
	opacity: .4;
	font-size: small;
}

.btn2 {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: #5CA4A9;
	border-radius: 0px;
	border-color: black;
	font-family: helvetica, sans-serif;
	font-size: small;
}
.btn2:hover {
	background-color: #028090;
	font-size: medium;
}
.btn2:disabled {
	background-color: #8ECACD;
	opacity: .4;
	font-size: small;
}

.btn3 {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: transparent;
	border-radius: 0px;
	border-color: black;
	font-family: helvetica, sans-serif;
	font-size: small;
}
.btn3:hover {
	background-color: #B5838D;
	font-size: medium;
}
.btn3:disabled {
	background-color: #6D6875;
	opacity: .4;
	font-size: small;
}

a {
	color: #4281A4;
	font-family: helvetica;
	font-size: small;
	text-decoration: none;
}
a:hover {
	color: #F25F5C;
}

input {
	background-color: #9CAFB7;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}

/*palette num 1*/
.color-CCCEC9{ background-color: #CCCEC9; }
.color-3B3432{ background-color: #3B3432; }
.color-D05352{ background-color: #D05352; }
.color-FFAE99{ background-color: #FFAE99; }
.color-FFDCCD{ background-color: #FFDCCD; }

/*palette num 2*/
.color-FFB997{ background-color: #FFB997; }
.color-F67E7D{ background-color: #F67E7D; }
.color-843B62{ background-color: #843B62; }
.color-0B032D{ background-color: #0B032D; }
.color-74546A{ background-color: #74546A; }

/*palette num 3*/
.color-ED6A5A{ background-color: #ED6A5A; }
.color-F4F1BB{ background-color: #F4F1BB; }
.color-9BC1BC{ background-color: #9BC1BC; }
.color-5CA4A9{ background-color: #5CA4A9; }
.color-E6EBE0{ background-color: #E6EBE0; }

#palette .color-title{
	color: grey;
	padding-top: 100px;
}



#footer{
	background-color: #50514F;
	color:#ffffff;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;	
	line-height: 28px;
	padding: 72px 50px 100px 50px;
}

.copyright{
	float: left;
	font-size: 14px;
	line-height: 20px;	
}

.contact{
	float: right;
	text-align: right;
	width: 65%;
}

.contact2{
	float: right;
	text-align: right;
	width: 65%;
}






