/*palette num 1*/
.color-primary1{ background-color: $primaryColorOrange; }
.color-secondary1-1{ background-color: $secondaryColorOrange1; }
.color-secondary1-2{ background-color: $secondaryColorOrange2; }
.color-secondary1-3{ background-color: $secondaryColorOrange3; }
.color-secondary1-4{ background-color: $secondaryColorOrange4; }

/*palette num 2*/
.color-primary2{ background-color: $primaryColorPurple; }
.color-secondary2-1{ background-color: $secondaryColorPurple1; }
.color-secondary2-2{ background-color: $secondaryColorPurple2; }
.color-secondary2-3{ background-color: $secondaryColorPurple3; }
.color-secondary2-4{ background-color: $secondaryColorPurple4; }

/*other palettes*/
.color-primary3{ background-color: $primaryColorBlack; }
.color-primary4{ background-color: $primaryColorWhite; }
