#footer{
	background-color: #50514F;
	color:#ffffff;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;	
	line-height: 28px;
	padding: 72px 50px 100px 50px;
}

.contact{
	float: right;
	text-align: right;
	width: 65%;
}

.contact2{
	float: right;
	text-align: right;
	width: 65%;
}

.copyright{
	float: left;
	font-size: 14px;
	line-height: 20px;	
}