#menu-header{
	position: fixed;
		top: 0;
	height: auto;
	width: 100%;
	background-color: #ffffff;
	text-transform: uppercase;
	margin-top: 1rem;
}

#menu-bar{
	float: right;
	padding: 15px;
	position: relative;
}

/*lista del menu principal del header*/
#menu-bar li{
	display: inline-block;
}

.menu{
	float: right;
	margin-right: 50px;
	color: grey;
}

.ddl-menu{
	background-color: #ffffff;
}
.ddl-menu::before{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #ffffff;
}