/*color variables*/

//colores principales
$primaryColorOrange: #FB7360; 
$primaryColorPurple: #87426F;

//paleta secundaria orange
$secondaryColorOrange1: #FB806F;
$secondaryColorOrange2: #F98C7D;
$secondaryColorOrange3: #F9998C;
$secondaryColorOrange4: #F8A69B;
//paleta secundaria purple
$secondaryColorPurple1: #92547D;
$secondaryColorPurple2: #9C6589;
$secondaryColorPurple3: #A77796;
$secondaryColorPurple4: #B289A4;
//paleta black & white
$primaryColorBlack: #000000;
$primaryColorWhite: #ffffff;
