/*div colors*/
#palettes{
	background-color: #F5F6F4;
	padding:25px;	
	margin: 25px;
}

#palette .color-title{
	color: grey;
	padding-top: 100px;
}

.palette-img{
	width: 25%;
	height: 25%;
	margin-left: 10px;
}

.palette-img-example{
	width: 200px;
	height: 100px;
	margin-left: 10px;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}