.btn-line{
	margin: 15px;
}

.btn {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: #ffffff;
	/*border-radius: 10px;*/
	border-color: #E65F5C;
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: small;
}
.btn:hover {
	background-color: #E6B89C;
	font-size: medium;
}
.btn:disabled {
	background-color: #9CAFB7;
	opacity: .4;
	font-size: small;
}

.btn2 {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: $secondaryColorPurple1;
	border-radius: 0px;
	border-color: black;
	font-family: helvetica, sans-serif;
	font-size: small;
}
.btn2:hover {
	background-color: #028090;
	font-size: medium;
}
.btn2:disabled {
	background-color: #8ECACD;
	opacity: .4;
	font-size: small;
}

.btn3 {
	width: 160px;
	height: 35px;
	margin: auto;
	opacity: .85;
	background-color: transparent;
	border-radius: 0px;
	border-color: black;
	font-family: helvetica, sans-serif;
	font-size: small;
}
.btn3:hover {
	background-color: #B5838D;
	font-size: medium;
}
.btn3:disabled {
	background-color: #6D6875;
	opacity: .4;
	font-size: small;
}

